@tailwind base;
@tailwind components;
@tailwind utilities;

.herobgImg{
    background-image: url('./assets/hero2.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}